html
  head
    title Quiz Game

  body
    h1 Quiz Game

    p Welcome to the quiz game! Press the button below to start.

    form(action='/quiz', method='get')
      button(type='submit') Start Quiz
