
body{
    color: #A4A400;
    font-size: 11pt;
    font-family: georgia, Garamoned,;
}

a{
    color: #A4A400;
}

h1,h2{
    color: #A4A400;
    background-color: #f0f0f0;
    font-family: Lucida Sans', Unicodes', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline;

    
}
h1{
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

em{
    font-style: normal;
    text-decoration: line-through;

}
div{
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 40px;
}


