body{
    display: flex;
    background-color: gray;
    background-image: url('/Lab-0/Image/JQueryGolderGet.webp');
    background-size:contain;
    background-position:left;

}


#Me{
border: 1mm solid rgb(129, 146, 164);
border-radius: 22mm;
}

/* .flower{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#left{
    display:contents;

}

a{
    color: rgb(84, 234, 181);
    font-size:x-large;    
}

h1{
    font-size: 53px;
    color: rgb(239, 70, 24);
}

h3{
    /* font-size: 53px; */
    color: rgb(239, 27, 24);
}



  